html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
  	-webkit-box-pack: center;
  	-moz-box-pack: center;
  	-ms-flex-pack: center;
  	-webkit-justify-content: center;
  	justify-content: center;
  	-webkit-box-align: center;
  	-moz-box-align: center;
  	-ms-flex-align: center;
  	-webkit-align-items: center;
  	align-items: center; 
    overflow: hidden;
    background: #2C3E50;
    
}

.center {
    text-shadow: 1px 1px 0px #1B2630;
    font-size: 3em;
    font-family: japanese;
    color: #E74C3C;
}

.text{
    cursor: pointer;

}

::selection {
   background: transparent;
}
::-moz-selection {
   background: transparent;
}

.links{
    opacity: 0;
    display: none;
    margin-top: 50%;
    font-size: 50px;
    cursor: pointer;
    font-family: "Arial";
}

@font-face {
    font-family: japanese; /* Имя шрифта */
    src: url(prn.otf); /* Путь к файлу со шрифтом */
}
